@mixin flex-col-envenly-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-row-envenly-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@import "media-query";
@import "fonts";
@import "variables-root";
@import "reset";
@import "header";
@import "home";
@import "section-card";
@import "sobre-mi";
@import "contacto";
@import "grid-catalogo-tupper";
@import "footer";


#logo {
  grid-area: img;
  background-color: #28b29e;
}

#navigation {
  grid-area: nav;
  width: 100%;
  justify-content: flex-end;
}

.container-fluid {
  margin-top: 130px;
  max-width: $app-width;
  width: 100%;
}

.btn {
  background-color: $primary-green;
  color: white;
}

.btn:hover {
  background-color: grey;
  color: white;
}

@for $i from 1 through 6 {
  .card-#{$i} {
    -webkit-animation: swing-in-top-fwd $i*1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-top-fwd $i*1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

// -----------------------------------------------------
@for $j from 1 through 6 {
  #producto-#{$j} {
    -webkit-animation: swirl-in-fwd $j*1s ease-out both;
    animation: swirl-in-fwd $j*1s ease-out both
  }
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}